svg {
  height: 100vh;
}

.text {
  text-align: center;
}

.title {
  animation: heightup 1s ease-in-out;
  transform-origin: center;
}

.subtitle {
  animation: appear 1s ease-in-out;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  opacity: 0;
  transform: translateY(100%);
}

@keyframes heightup {
  0% {
    transform: rotate(0deg) scale(0);
  }
  /* 5% {
    transform: rotate(24deg) scale(0.05);
  }
  10% {
    transform: rotate(48deg) scale(0.1);
  }
  20% {
    transform: rotate(72deg) scale(0.2);
  }
  25% {
    transform: rotate(96deg) scale(0.25);
  }
  30% {
    transform: rotate(120deg) scale(0.3);
  }
  40% {
    transform: rotate(144deg) scale(0.4);
  }
  50% {
    transform: rotate(168deg) scale(0.5);
  }
  60% {
    transform: rotate(192deg) scale(0.6);
  }
  70% {
    transform: rotate(216deg) scale(0.7);
  }
  75% {
    transform: rotate(240deg) scale(0.75);
  }
  80% {
    transform: rotate(264deg) scale(0.8);
  }
  85% {
    transform: scale(288deg) scale(0.85);
  }
  90% {
    transform: rotate(312deg) scale(0.9);
  }
  95% {
    transform: rotate(336deg) scale(0.95);
  } */
  100% {
    transform: rotate(360deg) scale(1);
  }
}

@keyframes appear {
  0% {
    opacity: 0;
    transform: translateY(100%);
  }

  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}
